# gitignore file for ktisma
# -------------------------

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Temporary files
*.tmp
*.temp

# MacOS
.DS_Store

# LaTeX build artifacts
.latexmk_build/
**/*-pdfs/
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.*
*.nav
*.snm
*.vrb
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.dvi
*.xdv
